@font-face {
    font-family: "Google Sans";
    src: url(/assets/fonts/GoogleSans.ttf);
}

@font-face {
    font-family: "Onest";
    src: url(/assets/fonts/Onest.ttf);
}

:root {
    --bg-color: #141414;
    --button-color: #fff;
    --menu-bg-color: #084331;
    --legal-color: #318b6f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Onest", sans-serif;
    background-color: var(--bg-color);
    color: #fff;
    overflow-x: hidden;
}

.hero {
    position: relative;
    width: 100%;
    height: 100svh;
    background: url(/assets/images/hero.jpg) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.hero-attribution {
    position: absolute;
    font-family: "Google Sans", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 10;
}

.nav-logo,
.nav-toggler {
    cursor: pointer;
    padding: 1rem;
}

.nav-logo img {
    filter: brightness(0) invert(1);
}

.nav-toggler {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 15;
}

.nav-toggler span {
    width: 40px;
    height: 2px;
    background-color: var(--button-color);
    border-radius: 1px;
    transition: 0.4s ease;
}

.nav-toggler.open span:first-child {
    transform: translateY(4px) rotate(45deg) scaleX(0.75);
}

.nav-toggler.open span:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg) scaleX(0.75);
}

.nav-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 5;
}

.nav-content.open {
    pointer-events: auto;
}

.nav-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: top;
}

.nav-items {
    display: flex;
    background-color: var(--menu-bg-color);
}

.nav-items-col a {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
    padding-bottom: 4px;
}

.nav-items-col a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

.nav-items-col a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

@media (max-width: 1000px) {
    .nav-logo img {
        width: 120px;
    }

    .nav-content,
    .nav-items {
        height: 100svh;
    }

    .nav-items {
        flex-direction: column;
        padding: 8rem 2rem !important;
    }

    .nav-legal,
    .nav-secondary-links {
        display: none;
    }

    .hero-attribution {
        bottom: 1.5rem;
        inset: auto 0;
        text-align: center;
    }
}

